@import '../../../../theme.scss';

.btn-advanced-filters {
    border: 1px solid $primaryColor !important;
    font-size: 13px;
    color: $primaryColor !important;
}

.btn-advanced-filters-active {
    border: 1px solid $primaryColor !important;
    color: $primaryColor !important;
}
